  .flex {
      display: flex;
      flex-direction: row;
  }

  .user-table-image {
      height: 50px;
      width: 50px;
      object-fit: contain;
      display: inline;
      border-radius: 50%;
      background-color: white;
  }

  .grid-row {
      padding: 10px;
      background-color: transparent;
  }

  .grid-row img {
      padding: 10px;
      height: 200px;
      width: 200px;
      object-fit: contain;
  }

  .title-card-ms {
      font-size: 2rem;
      font-weight: bold;
  }

  @media only screen and (max-width: 588px) {

      .flex {
          flex-direction: column;
          align-items: center;
      }

      .grid-row {
          text-align: center;
      }


  }

  .hide-table {
      display: none;
      visibility: 0;
  }