.grid {
    display: grid;
}

.gap-2 {
    gap: 20px !important;
}

.gird-col-6 {
    grid-template-columns: repeat(6, 1fr);
}

.unique-digit {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 0 5px 0 var(--bs-gray-100);
}

.unique-digit:focus:invalid {
    border: none !important;
}

/* input:invalid {
    border: 2px dashed var(--swiper-theme-color) !important;
} */

.unique-digit:valid {
    border: none !important;
}

label[for="unique-key"] {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
}